<%= form_with(model: @club, class: 'message is-primary', builder: MlFormBuilder) do |form| %>
  <div class="message-header">
    Create a club
  </div>

  <div class="message-body">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title,
        class: 'input',
        icon: 'signature',
        autofocus: true
      %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description,
        class: 'textarea'
      %>
    </div>

    <div class="field">
      <span class="label">
        Visibility
      </span>

      <label>
        <%= form.radio_button :visibility, :vis_public, checked: true %>
        <span>
          Public Club
        </span>
      </label>

      <label>
        <%= form.radio_button :visibility, :vis_private %>

        <span>
          Private Club
        </span>
      </label>
    </div>

    <div class="actions field">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>