<%= rp 'clubs/header',
  club:           @club,
  can_join:       @can_join,
  admin_override: @admin_override
%>

<div class="level">
  <div class="level-left">
    <p class="title is-4">
      Club Topics

      <%= link_to club_members_path(@club), class: "has-text-grey-light" do %>
        / Club Members
      <% end %>
    </p>
  </div>

  <div class="level-right">
    <% if current_club_member?(@club) %>
      <%= link_to 'New Topic', new_club_topic_path, class: 'button is-primary' %>
    <% elsif @can_join %>
      <%= link_to 'Join Club', new_club_membership_path, class: 'button is-primary'%>
    <% else %>
      <button style="visibility: hidden" class="button is-light">
        (Balancer)
      </button>
    <% end %>
  </div>  
</div>

<div class="topic-groups">
  <% cache @topics do %>
    <% @topics.each_slice(3) do |topics| %>
      <%= rp 'topics/topics_batch', topics: topics %>
    <% end %>
  <% end %>
</div>