<% @page_title = 'New Topic' %>

<%= form_with(model: @topic) do |form| %>
  <div class="field">
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>

  <div class="field">
    <%= form.text_area :content, placeholder: 'Content'  %>
  </div>

  <div class="fields">
    <%= form.text_field :tag_list, placeholder: '(Optional) Thread Tags' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>