<% @page_title = 'Edit Your Profile' %>

<%= form_with(url: settings_save_path, local: true) do |f| %>
  <%= f.hidden_field :back, value: 'profile' %>

  <div class="field">
    <%= f.label :avatar, class: 'subtitle' %>
    <%= rp 'file_picker', f: f, field: :avatar %>
  </div>

  <div class="field">
    <%= f.label :biography, class: 'subtitle' %>
      <div class="control">
      <%= f.text_area :biography, class: 'textarea', value: current_user.biography %>
    </div>
  </div>

  <div class="field">
    <%= f.label :interests %>
    <%= f.text_area :interests, class: 'textarea', value: current_user.interests %>
  </div>

  <div class="field">
    <%= f.label :age, class: 'subtitle' %>
    <div class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-birthday-cake"></i>
      </span>
      <%= f.text_field :age, class: 'input', value: current_user.age %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :gender, class: 'subtitle' %>
      <div class="select">
        <%= f.select :gender, User.genders.keys, value: current_user.gender %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :location, class: 'subtitle' %>
     <div class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
      <%= f.text_field :location, class: 'input', value: current_user.location %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.label :relationship_status, class: 'subtitle' %>
      <div class="select">
        <%= f.select :relationship_status, User.relationship_statuses.keys, value: current_user.relationship_status %>
      </div>
    </div>
  </div>

  <div class="subtitle is-4">Social Media</div>

  <div class="field">
    <%= f.label :facebook, class: 'subtitle' %>
    <div class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fab fa-facebook"></i>
      </span>
      <%= f.text_field :facebook, class: 'input', value: current_user.facebook %>
    </div>
  </div>

  <div class="field">
    <%= f.label :twitter, class: 'subtitle' %>
    <div class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fab fa-twitter"></i>
      </span>
      <%= f.text_field :twitter, class: 'input', value: current_user.twitter %>
    </div>
  </div>

  <div class="field">
    <%= f.label :discord, class: 'subtitle' %>
    <div class="control has-icons-left">
      <span class="icon is-small is-left">
        <i class="fab fa-discord"></i>
      </span>
      <%= f.text_field :discord, class: 'input', value: current_user.discord %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'button is-link' %>
  </div>
<% end %>