<div class="flex v-center">
  <div id="header" class="grows">
    <h2>
      <%= link_to 'Meteor Lens', root_path %>
    </h2>

    <h4>
      <%= page_title %>
    </h4>
  </div>

  <div id="header-user">
    <h4>
      <% if user_signed_in? %>
        <%= link_to current_username, current_user, class: 'hidden' %>

        |

        <%= link_to 'New Topic', new_topic_path, class: 'hidden' %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'hidden' %>
      <% end %>
    </h4>
  </div>
</div>