<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <span class="icon is-large has-text-primary">
        <%= fa 'meteor', class: 'fa-2x' %>
      </span>

      <div class="button is-primary">
        <strong>
          ML
        </strong>
      </div>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% if user_signed_in? %>
        <%= link_to 'New Topic', new_topic_path, class: 'navbar-item' %>
      <% end %>

      <%= link_to 'Activity', activity_path, class: 'navbar-item' %>
      <%= link_to 'Users', users_path, class: 'navbar-item' %>
      <%= link_to 'Clubs', clubs_path, class: 'navbar-item' %>
      <%= link_to 'About', about_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to current_user do %>
            <%= avatar_for current_user %>
          <% end %>
        <% else %>
          <div class="buttons">
            <%= link_to new_user_registration_path, class: 'button is-primary' do %>
              <strong>
                Sign up
              </strong>
            <% end %>

            <%= link_to new_user_session_path, class: 'button is-light' do %>
              Log in
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>