<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> – Meteor Lens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= rp 'layouts/header', page_title: @page_title %>
    <%= rp 'layouts/modal' %>

    <section class="section" id="page">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
